.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .selected-sample {
    padding: 12px;
    font-size: 14px;
  }
}

.body-wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  min-height: 0;

  .editor-wrapper {
    border: 1px solid var(--border-color);
    border-right: none;
    height: 100%;
  }

  .preview-wrapper {
    width: 100%;
    min-width: 1px;
    border: 1px solid var(--border-color);
  }
}

.logo {
  width: 24px;
  height: 24px;
}
